@font-face {
  font-family: 'SpongeBob Font Condensed';
  font-style: normal;
  font-weight: 500;
  src: local('SpongeBob Font Condensed'), url('https://fonts.cdnfonts.com/s/42278/SpongebobFontCondensedRegular-3zZEy.woff') format('woff');
}

@font-face {
  font-family: 'SpongeBob Font Wide';
  font-style: normal;
  font-weight: 500;
  src: local('SpongeBob Font Wide'), url('https://fonts.cdnfonts.com/s/42278/SpongebobFontWideRegular-x3nzV.woff') format('woff');
}

body {
  background-image: url('./images/tile_background.png');
}

footer {
  color: rgb(192, 142, 55);
  text-align: center;
  font-family: 'SpongeBob Font Wide', sans-serif;
  /* position: inherit; */
  font-size: 10px;
  bottom: 5px;
  position: fixed;
  width: 90%;
}

h1 {
  font-family: 'SpongeBob Font Condensed', sans-serif;
  color: rgb(176, 144, 204);
  text-align: center;
  font-size: 95px;
  margin-bottom: 20px;
  margin-top: 20px;
}